<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KAJ.Core</title>
    <script type="text/javascript">
        //TODO by cjy
        //GetBasicInfo参数分别为：当前用户信息、按钮字段权限、动态文件服务器地址和当前流程环节
        //请根据具体需要调整true或false
        @*@Html.GetBasicInfo(true, true, false, true);*@
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/minuinet/miniui/miniui.js"></script>
    @*<script src="~/lib/minuinet/boot.js"></script>*@
    <script src="~/lib/minuinet/baseMiniuiExt.js"></script>
    <script src="~/lib/minuinet/customCtrl.js"></script>
    <script src="~/lib/minuinet/miniuiExt.js"></script>
    <script src="~/lib/minuinet/flowBusLeft.js"></script>

</head>

@*<body>
        @RenderBody()
        <script type="text/javascript">
            mini.parse();
        </script>
    </body>
    </html>*@

<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        preInit();
    </script>
</body>
</html>
